/* General
----------------------------------------------- */
* {
	padding: 0;
	margin: 0;
}
nav {
	z-index: 1;
	position: absolute;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
input {
	background-color: transparent;
    border: none;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.section-title {
  	color: #494949;
  	text-align: center;
}
.bg-color-1 {
	background-color: #ffffff;
}
.bg-color-2 {
	background-color: #efefef;
}
/* Typography
----------------------------------------------- */
p {
	font-family: 'Poppins', sans-serif;
	color: #767676;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'montserratsemibold';
    font-weight: 400;
    color: #4f4f4f;
    margin: 0;
	text-transform:uppercase;
}
h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h2 {
    font-size: 32px;
	color: #484848;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}

/* Navigation Styling
----------------------------------------------- */
.overlay {
	position: fixed;
	top: 0;
	height: 0%;
	width: 100vw;
	background-color: black;
	opacity:0;
	transition: opacity 0.3s;
	transition-timing-function: ease-out;
}

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.overlay ul {
	text-align: center;
	font-size: 10vh;
}

.overlay a {
	color: #818181;
}

/* Position the close button (top right corner) */
.openbtn {
    position: fixed;
    top: 38px;
    right: 56px;
    font-size: 50px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 16px;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Intro Styling
----------------------------------------------- */
.intro {
	position: relative;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/road2.png'); /* Fallback Background Image for unsupported browsers */
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/road2.png');
	background-size: cover;
	overflow: hidden;
}

.intro h1{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: left;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	
}

/* Grid play (applying)
----------------------------------------------- */
.container {
	padding-top: 30px;
	padding-bottom: 30px;
	display: grid;
	grid-row-gap: 30px;
	grid-template:
		"title" 
		"content"
		;
}
.section-title {
	grid-area: title;
}

/* Project Section
----------------------------------------------- */
/* New grid for gallery */
.project-gallery {	
	display: grid;
	grid-gap: 30px;
	grid-template: 
		"content content content" auto
		/ 1fr 1fr 1fr
		;
}
/* scale images to fill out gallery grid horizontally */
.project-gallery img {
	max-width: 100%;
  	border-radius: 20px;
  	box-shadow: 5px 5px 5px #888888;
}

/* Contact Section
----------------------------------------------- */
.contact-text {
	color: #7b7b7b;
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 25px;
	grid-template:
		"in email" 
		"github location"
		/ auto 1fr
		;
}
.contact-form {
	display: grid;
	grid-gap: 15px;
	grid-template:
		"name" 
		"email"
		"message" 140px
		"button"
		;
}
.contact-form input {
	color: #7b7b7b;
	line-height: 200%;
	background-color: transparent;
	border-bottom-style: dotted;
    border-bottom: 1px dotted;
}
.contact-form textarea {
	margin-top: 15px;
	padding: 10px;
}

/* (styling ported from other website)
----------------------------------------------- */
.contact-section .section-title {
  	text-align: left;
}
.contact-section .section-title p {
    color: #777777;
}
.contact-text li i {
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    float: left;
    font-size: 24px;
    height: 47px;
    line-height: 47px;
    margin-right: 12px;
    text-align: center;
    width: 47px;
	color: #919191;
}
.contact-text li h4,
.contact-text li span {
  position: relative;
  top: 5px;
}
.contact-text li h4 {
    color: #7b7b7b;
}
.contact-text li span,
.contact-text li h4 {
    overflow: hidden;
}
.contact-text li span a,
.contact-text li span {
    color: #979797;
}
.contact-text li span a:hover {
    color: #7b7b7b;
}