/* Small Mobile: 320px. (Default - mobile first) 
------------------------------------------------- */
.container {
	margin-right: auto;
	margin-left: auto;
	width:280px;
}
/* Large Mobile, Mobile Landscape: 480px.
------------------------------------------------- */
@media (min-width:480px) and (max-width: 767px){
	.container{
		width:480px;
	}
} 
/* Tablet: 768px.
------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Browser: 980px.
------------------------------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
}

/* Large Browser: 1200px.
------------------------------------------------- */
@media (min-width: 1200px) {	
}