 html, body {
	background-color: lightgrey;
	text-align: center;
	margin:0 ;
	display: table;
	height: 100%;
	width: 100%;
}

header .container {
	display: block;
	background-color: black;
	padding-top:10px;
	padding-bottom: 10px;
	width: 100%;
	
	font-family: "Impact", Times, serif;
	font-style: oblique;
	color: white;
	font-size: em2;
}

nav {
	font-size: 0;
	list-style-type:none;
}
nav ul {
	padding-right: 10%;
	padding-left: 10%;
}
nav li {
	font-size: 20px;
	width: 20%;
	text-align: center;	
	display: inline-block;
}

nav li  a {
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

nav li  a:hover {
	background-color: grey;
}


.blog {
	background-color: white;
	margin: 5% 10%;
	padding-left: 15%;
    padding-right: 15%;
	padding-bottom: 2em;
    border: 4px solid black;
}
.blog h2 {
	text-decoration: underline;
}
.blog p {
	text-align: justify;
}	
.icon-bar {
	padding:20px;
	height: auto;
}
.icon-bar a {
	text-decoration: none;
}

footer {
	background: black;
	display: table-row;
	height:1px;
}
