.jumbotron {
	background-image: url("images/Robotathon.jpg"); 
	background-size: cover;
	height: 50vh;
	color: white;
}

.jumbotron .title {
	margin-top: 15vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.icon-list a {
	color: gray;
	text-decoration: none;
}

footer {
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: gray;
}

footer .copyright {
	padding-top: 2vh;

}

.btn {
	margin-bottom: 20px;
}